.alerts-container {
    height: 1.5rem;
    overflow: hidden;
    background-color: rgb(50, 62, 71);
}

.single-alert {
    height: 1.5rem;
    float: left;
    color: white;
    padding-left: 0.5rem;
    padding-right: 0.5rem;
    background-color: rgb(35, 43, 49);
    border-left: dotted 1px #cccccc;
}

.close-all {
    text-align: right;
    background-color: black;
}